<template name="links">
	{{> UI.dynamic template=stepTemplate}}
	<!--Sorry, ads below-->
</template>

<template name="getAddressTwo">
	{{#if isCreator}}
		<div class="container">
			<div class="row">
		      <div class="col s12 z-depth-1" id="content-container">
		      	<h1>Waiting for other user</h1>
		      	<div class="meetLink">
		      		<input id="foo" value="http://midfinder.com{{meetLink}}">
		      		<button class="btn" data-clipboard-action="copy" data-clipboard-target="#foo">
					    Copy<span class="hide-on-small-only"> to clipboard</span>
					</button>
		      	</div>
		      	<p class="flow-text">Please share the above link with the person you are meeting. Check back here after they have entered their address. This page will expire in 48 hours.</p>
				<p>Note: Neither of you will ever know each other's addresses. Also, there is no need to refresh this page, it will change automatically.</p>
		      </div>
	  		</div>
		</div>
	{{else}}
		<div class="container">
			<div class="row">
		      <div class="col s12 z-depth-1" id="content-container">
		      	<h1>Meet in the Middle</h1>
		      	<p class="flow-text">Welcome. This app will fairly and safely find a mid-meeting point between two addresses. The person who sent this to you has already entered their address. Please enter your address below - it will not be shared with anyone.</p>
		      	{{>addressInput}}
		      </div>
	  		</div>
		</div>
	{{/if}}
	<div class="map-container" id="addressMap"></div>
</template>

<template name="meetPoint">
	<div class="container">
		<div class="row">
	      <div class="col s12 z-depth-1" id="content-container">
	      	<h1>Meeting Point</h1>
	      	<p class="flow-text">Based on both addresses, the best meeting locations are listed below.</p>
	      	Vicinity: {{mpAddress}} <br/>
	      	Exact Coordinates: 
	      	{{#with mpCoords}}
	      	<a href="http://maps.google.com/?ll={{lat}},{{lng}}&z=15" target="_blank">({{lat}}, {{lng}})</a>
	      	{{/with}}
	      	<br/>
	      	<br/>
	      	
	      	<h4>Nearby Places</h4>
			<div class="col s12">
				<ul class="collection">
					{{#with policeStation}}
						<li class="collection-item police">{{name}} - {{vicinity}}<span class="badge"><i class="material-icons">stars</i></span></li>
					{{/with}}
					{{#each meetingPlaces}}
						<li class="collection-item">{{name}} - {{vicinity}}</li>
					{{/each}}
				</ul>
			</div>

	      </div>
  		</div>
  		<div class="google-ads">
  			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- MITM -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3994585189519158"
			     data-ad-slot="8299521426"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
  		</div>
		{{> map}}
	</div>
</template>


<template name="map">
	<div class="map-container">
		{{> googleMap name="mainMap" options=mainMapOptions}}
	</div>
</template>
